<div class="modal fade" id="modalUploadClaim" tabindex="-1" role="dialog" aria-labelledby="modalUploadClaim" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body modal-lg">

                <!-- Close -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <!-- Heading -->
                <h2 class="font-weight-bold text-center mb-1" id="modalPaymentTitle">
                    {{ 'upload claim'|trans|capitalize }}
                </h2>

                <form action=""
                      class="dropzone"
                      id="dropzone"></form>

            </div>
        </div>
    </div>
</div>


<script>
    Dropzone.options.dropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 2, // MB
        accept: function(file, done) {
            done();
        }
    };
</script>
