{% extends '/documentation/main.html.twig'%}

{% set currentPage = 'introduction' %}

{% block documentation %}


    <!-- Heading -->
    <h1 class="mb-1">Glossary</h1>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">
        Feeling a bit lost in all of the technical terms of an online SSI Wallet (or thinking a what?), don't worry we understand that it can al be a bit overwelming. So we set up this glossery to help you allong.
    </p>

    <!-- Text -->
    <p class="text-gray-700">
       Still cant find out what the h*ll where are talking about? Or completly lost in the jungle of technical terms? Don't hesitate to send us a message!
    </p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="claim">Uitspraken (claim)</h3>

    <!-- Text -->
    <p class="text-gray-700">Binnen id-vault worden jouw gegevens opgeslagen als claims, een claim is een uitspraak die jij doet. Bijvoorbeeld mijn e-mailadres is john@do.com, deze kunnen claims worden onderschreven door derden. Z&rsquo;n onderschrijving noemen we een Attest en vormt eigenlijk het bewijs dat jouw uitspraak waar is. In het geval van je e-mailadres zou bijvoorbeeld facebook of gmail kunnen onderschrijven dat dit jouw email address is (ze hebben dit immers getest door je een e-mail te sturen).</p>

    <p class="text-gray-700">Doordat andere partijen jouw uitspraken onderschrijven voorzien ze deze van bewijslast, zo weet een webshop zeker dat jouw e mailadres ook echt jouw emailaddres is.</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="attest">Onderschrijving (attest)</h3>

    <!-- Text -->
    <p class="text-gray-700">Een onderschrijving vormt de bewijslast onder een uitspraak, via contracten kan je als gebruiker applicaties toegang geven tot</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="contract">Contract</h3>

    <!-- Text -->
    <p class="text-gray-700">Vanuit id-vault kan je jouw gegevens en de bewijslast daarvan ontsluiten voor derden, zo kan je via id-vault inloggen op andere applicaties. Op het moment dat jij jouw gegevens ontsluit voor een andere partij ga je een contract aan met die partij, in dat contract spreek je af welke gegevens je voor welk doel ontsluit. Contracten hebben altijd een eindtijd maar kunnen tussentijds door jou worden opgezegd. Op die manier hou jij zelf controle over wie er toegang heeft tot jouw gegevens.</p>

    <p class="text-gray-700">De enige uitzondering hierop zijn dossiers, een dossier kan een juridische blockade geven op het verbreken van een contract omdat de wet verplicht tot langdurige opslag (bijvoorbeeld personeels dossier)</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="dossier">Dossier </h3>

    <!-- Text -->
    <p class="text-gray-700">Een dossier is een zet van data die een organisatie over jouw heeft maar die geen onderdeel vormt van jouw online wallet. Denk hierbij aan een personeelsdossier bij je werkgever of een bestelling bij een webstore.</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="issuer">Onderschrijvers (issuer) </h3>

    <!-- Text -->
    <p class="text-gray-700">Onderschrijvers zijn partijen die jouw uitspraken onderschrijven en daarmee van bewijslast voorzien.</p>

    <!-- hier  nog 3 kopjes -->
    <!-- datapoints varivyers en issuers -->

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="pricing">Pricing </h3>

    <!-- Text -->
    <p class="text-gray-700">The pricing for id-vault is determined by scope’s, the user and profile scope are excluded from this (since they are default). Scopes are calculated as total scopes among all authorizations that an application requested.</p>

    <!-- Text -->
    <p class="text-gray-700">For example, if an application requests the scope schema.address and schema.birthDate from 10 users the scope count is 20 (2 * 20) and so on. Since we want to promote privacy by design we do not charge applications by data request. So the applications will be billed for 20 scopes, whether it does 1 or a 100 data requests during a month to look into these scopes and get there user values.</p>

    <!-- Text -->
    <p class="text-gray-700">Applications are billed every month on the scopes that they had during that month, the amount that they are billed for each scope determines on their payment settings.</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- hier  nog een kopje; Goal -->

    <!-- Heading -->
    <h3 class="font-weight-bold" id="user_notifications">User Notifications</h3>

    <!-- Text -->
    <p class="text-gray-700">User’s can activate user notifications, user notifications are a way of receiving alerts when an applications require access to or changes your data. There are three main types of notification, push notifications (these are in browser), email notification (where an email is send) and text notifications (a text message to your  device). Text messages incur costs and will require a user to set up an payment method.</p>

    <!-- Text -->
    <p class="text-gray-700">As stated above notifications are tied to the change in an specific ID-Vault object, we currently support notifications for Authorisations (a change in applications scopes will also trigger this), Claims, Proof, Dossiers, Contracts and Invoices.</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="payment_methods">Payment Methods</h3>

    <!-- Text -->
    <p class="text-gray-700">Both users and applications can add payment methods to there accounts.</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="user_updates">User updates</h3>

    <!-- Text -->
    <p class="text-gray-700">Users can receive regular updates about there data usage, product updates and the ID-Vault newlster.</p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <!-- Heading -->
    <h3 class="font-weight-bold" id="application_updates">Application updates</h3>

    <!-- Text -->
    <p class="text-gray-700">Organizations can receive regular updates about  there data usage, product updates and the ID-Vault newlster.</p>

{% endblock %}

{% block jumpto %}
    <div class="my-7 my-lg-9 px-lg-7 border-left-lg border-gray-300">

        <!-- Heading -->
        <h6 class="text-uppercase font-weight-bold">
            Index
        </h6>

        <!-- Links -->
        <ul class="list mb-0">
            <li class="list-item">
                <a class="list-link" href="#claim" data-toggle="smooth-scroll">Claim</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#proof" data-toggle="smooth-scroll">Proof</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#contract" data-toggle="smooth-scroll">Contract</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#dossier" data-toggle="smooth-scroll">Dossier</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#issuer" data-toggle="smooth-scroll">Issuer</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#developers-portal" data-toggle="smooth-scroll">developers portal</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#levels-of-trust" data-toggle="smooth-scroll">Levels of trust</a>
            </li>
        </ul>

    </div>
{% endblock %}
