{% extends '/documentation/main.html.twig'%}

{% set currentPage = 'introduction' %}

{% block documentation %}

    <!-- Heading -->
    <h1 class="mb-1">Introduction</h1>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">
        How to get started with Landkit!
    </p>

    <!-- Text -->
    <p class="text-gray-700">
        This guide will help you get started with Landkit! All the important stuff – compiling the source, file structure, build tools, file includes – is documented here, but should you have any questions, always feel free to reach out to support@goodthemes.co.
    </p>

    <!-- Divider -->
    <hr class="border-gray-300 my-6">

    <h3>Test</h3>
    <p>onder divider</p>

{% endblock %}

{% block jumpto %}

    <li class="list-item">
        <a class="list-link" href="#newAndExtendedComponents" data-toggle="smooth-scroll">New & extended components</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#devSetup" data-toggle="smooth-scroll">Dev setup</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#compiling" data-toggle="smooth-scroll">Compiling</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#fileStructure" data-toggle="smooth-scroll">File structure</a>
    </li>
    <li class="list-item d-flex">
        <a class="list-link" href="#gulpFileIncludes" data-toggle="smooth-scroll">Gulp file includes</a>
    </li>
    <li class="list-item d-flex">
        <a class="list-link" href="#customizingScss" data-toggle="smooth-scroll">Customizing SCSS</a>
    </li>

{% endblock %}
