
<!-- Heading -->
<h6 class="text-uppercase font-weight-bold">
    Getting started
</h6>

<!-- Links -->
<ul class="list mb-6">
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_index') }}">Introduction</a>
    </li>
    <li class="list-item d-flex">
        <a class="list-link" href="#">Changelog</a> <span class="badge badge-pill badge-primary-soft ml-auto align-self-center">1.2.1</span>
    </li>
</ul>

<!-- Heading -->
<h6 class="text-uppercase font-weight-bold">
    Documentation
</h6>

<!-- Links -->
<ul class="list mb-6">
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_glossary') }}">Glossary</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#">Architecture</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#">Getting API acces</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#">Setting up a Sign-In</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#">Getting data</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="#">Providing data</a>
    </li>
</ul>


<!-- Heading -->
<h6 class="text-uppercase font-weight-bold">
    Legal
</h6>

<!-- Links -->
<ul class="list mb-6">
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_terms') }}">Terms and Conditions</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_privacy') }}">Privacy</a>
    </li>
</ul>
