{% extends '/documentation/main.html.twig' %}

{% set currentPage = 'introduction' %}

{% block documentation %}


    <!-- Heading -->
    <h1 class="mb-1">Support</h1>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">
        We understand that the whole concept of digital identity can be a bit daunting at times and the whole concept of
        wallets with there claims and proof is a world of its own.
    </p>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">
        So we are here to help
    </p>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">Before you start a ticket we would however ask you to consider the
        following</p>

    <ul class="font-size-lg text-gray-700 mb-5">
        <li>We are a startup, this is a new product. Please bear with us.</li>
        <li>Please read the FAQ on the introduction page</li>
        <li>Please read the glossery wich provides some more background concepts</li>
        <li>When walking around with a technical question, try the tutorial or look up the roadmap (the functionality
            that you seek might just be in betá)
        </li>
    </ul>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">If none of that solves your question shoot us a line with the form below,
        we do like to get back to you on your question so you will need to be logged in.</p>

    <!-- link github issue page -->
    <a href="https://github.com/OdysseyMomentum/Conduction/issues" class="font-size-lg text-gray-700 mb-5">{{ 'https://github.com/OdysseyMomentum/Conduction/issues'|trans }}</a>

{% endblock %}

{% block jumpto %}


{% endblock %}
