{% extends '/documentation/main.html.twig'%}

{% block documentation %}


    <!-- Heading -->
    <h1 class="mb-1">Tutorial</h1>

    <!-- Text -->
    <p class="font-size-lg text-gray-700 mb-5">
        Feeling a bit lost in all of the technical terms of an online SSI Wallet (or thinking a what?), don't worry we understand that it can al be a bit overwelming. So we set up this glossery to help you allong.
    </p>

{% endblock %}

{% block jumpto %}


{% endblock %}
