<section class="py-8 py-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">

            </span>

                <!-- Heading -->
                <h1 class="display-4 text-primary">
                    {{ 'Get in charge of your online data'|trans|capitalize }}
                </h1>

                <!-- Text -->
                <p class="font-size-lg text-muted mb-6 mb-md-8">
                    {{ 'motivational one liner!'|capitalize }}
                </p>

                <!-- Button -->
                <a href="#register" target="_blank" class="btn btn-success lift" data-toggle="smooth-scroll" data-offset="0">
                    {{ 'register'|trans|capitalize }} <i class="fe fe-arrow-right"></i>
                </a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
