{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">
                {% set activeItem = 'index' %}
                {% include 'dashboard/sidenavbar.html.twig' %}

            </div>
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12 mb-4">
                        <a href="{{ path('app_dashboard_claimyourdata') }}"
                           class="btn btn-primary btn-block shadow lift">
                            Let us help you claim your data back from external parties, lets go!
                        </a>
                    </div>
                </div>

                <!-- Single sign on list -->
                {% include 'dashboard/widgets/single_sign_on_list.html.twig' %}

                <!-- Data queries graph -->
                {% include 'dashboard/widgets/data_queries_graph.html.twig' %}

                <!-- Organization cards -->
                {% include 'dashboard/widgets/organization_cards.html.twig' %}

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
{% endblock %}
