{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">

                {% set activeItem = 'organizations' %}
                {% include 'dashboard/sidenavbar.html.twig' %}

            </div>

            <div class="col-12 col-md-9">

                <!-- edit form for organization info -->
                {% include'dashboard/widgets/edit_organization_info.html.twig' %}

                <!-- list of developers for this organization -->
                {% include 'dashboard/widgets/developer_list.html.twig' %}

                <!-- payment methodes -->
                {% include 'dashboard/widgets/payment_methods.html.twig' %}

                <!-- applications -->
                {% include 'dashboard/widgets/application_list.html.twig' %}

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- modals -->
    {% include '/dashboard/modals/add_developer_modal.html.twig' %}
    {% include 'dashboard/modals/add_payment_method_modal.html.twig' %}
    {% include 'dashboard/modals/add_application_modal.html.twig' %}

{% endblock %}
