{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">

                {% set activeItem = 'security' %}
                {% include 'dashboard/sidenavbar.html.twig' %}

            </div>

            <div class="col-12 col-md-9">

                <!-- authenticator management card -->
                {% include 'dashboard/widgets/security_authenticators.html.twig' %}

                <!-- username change card -->
                {% include 'dashboard/widgets/security_change_username.html.twig' %}

                <!-- password change card -->
                {% include 'dashboard/widgets/security_change_password.html.twig' %}

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- modals -->
    {% if tokens is defined and tokens is not empty %}
        {% for token in tokens %}
            {% include 'dashboard/modals/remove_auth_modal.html.twig' with {id: token.id} %}
        {% endfor %}
    {% endif %}

    {% include 'dashboard/modals/add_auth_modal.twig' %}
{% endblock %}
