

<table class="table">
    <thead>
    <tr>
        <th scope="col">Root</th>
        <th scope="col">Property</th>
        <th scope="col">Scope</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/birthPlace" target="_blank">person.birthPlace</a></td>
        <td><code>schema.person.birthPlace</code></td>
        <td>The place where the person was born</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/birthDate" target="_blank">person.birthDate</a></td>
        <td><code>schema.person.birthday</code></td>
        <td>Date of birth</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/address" target="_blank">person.address</a></td>
        <td><code>schema.person.address</code></td>
        <td>Physical address of the person</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/telephone" target="_blank">person.telephone</a></td>
        <td><code>schema.person.telephone</code></td>
        <td>The telephone number</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/email" target="_blank">person.email</a></td>
        <td><code>schema.person.email</code></td>
        <td>Email address</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/givenName" target="_blank">person.givenName</a></td>
        <td><code>schema.person.given_name</code></td>
        <td>Given name. In the U.S., the first name of a Person</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/familyName" target="_blank">person.familyName</a></td>
        <td><code>schema.person.family_name</code></td>
        <td>Family name. In the U.S., the last name of a Person</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/image" target="_blank">person.image</a></td>
        <td><code>schema.person.image</code></td>
        <td>An image of the person. This can be a URL or a fully described ImageObject</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/taxID" target="_blank">person.taxID</a></td>
        <td><code>schema.person.taxID</code></td>
        <td>The tax identifier for a person (also know as social security number) e.g. the TIN in the US, the CIF/NIF in Spain or BSN in The Netherlands.</td>
    </tr>
    <tr>
        <td>schema</td>
        <td><a href="https://schema.org/vatID" target="_blank">organization.vatID</a></td>
        <td><code>schema.organization.vatID</code></td>
        <td>The Value-added Tax ID of the organization or person. e.g. BTW Number in The Netherlands</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>force</code></td>
        <td>Allows an application to force authentication</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>factor</code></td>
        <td>Allows an application to force two or three factor authentication</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>mailing_list</code></td>
        <td>Allows an application to add a user to mailings lists and/or send emails</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>phone_list</code></td>
        <td>Allows an application to add a user to phone lists and/or send text messages</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>dossier</code></td>
        <td>This scope allows you to create dossiers to your contracts</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>contract</code></td>
        <td>Allows an applications to provide contracts to a user</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>assent</code></td>
        <td>Allows an application to provide assentsto a user</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>notification</code></td>
        <td>Allows an application to recieve updates when a user changes there data</td>
    </tr>
    <tr>
        <td>special</td>
        <td>n.v.t</td>
        <td><code>single_sign_on</code></td>
        <td>Allows an application to single sign on functionality assentsto a user </td>
    </tr>
    </tbody>
</table>

